<!--
  * 作者：yeshengqiang
  * 时间：2018-04-28
  * 描述：产品检测 检测人员
-->
<div class="production-container">
    <div class="production-header">
        <!-- searchBar -->
        <div class="search-bar" ng-enter="searchLineProduct()">
            <div class="form-group">
                <label>VIN编码</label>
                <input type="text" class="form-control" v-focus="focus" id="productionId" value="" name="title" autocomplete="off" placeholder="请输入VIN编码" />
            </div>
            <button class="btn btn-primary" v-busy="loading" loading-text="搜索中" ng-click="searchLineProduct()">搜索</button>
            <button class="btn btn-primary float-right" ng-show="userType === 2" ng-click="go('main.checkVq')">返回至<span class="btn_active_color">vq</span>界面</button>
            <button class="btn btn-primary float-right mr14" ng-show="userType === 2" ng-click="go('main.check')">返回至<span class="btn_active_color">返修</span>界面</button>
            <button class="btn btn-default float-right mr14" ng-click="historyCheck()">检测历史</button>
        </div>
        <!-- vin_error_tips -->
        <div class="error-state-info">
            <span class="info-label" ng-show="lineProductResult.vin">当前车辆：</span>
            {{lineProductResult.vin}}
            <span class="error-info">{{lineProductResult.VIN_ERROR}}</span>
            <img class="scanned-info" ng-show="lineProductResult.scanned === 2" src="../../../assets/images/info.png" alt="info" />
        </div>
        <!-- content -->
        <div class="revisionSearch-box">
            <div class="revisionSearch-panel">
                <div class="state-main-left">
                    <p class="okStatus" ng-show="lineProductResult.result === 1">OK</p>
                </div>
                <div class="state-main-center">
                    <img src="../../../assets/images/status.png" class="state-main-logo" alt="status" />
                    <p class="procedure-main-color">通讯状态</p>
                </div>
                <div class="state-main-right">
                    <p class="ngStatus" ng-show="lineProductResult.result === 2">NG</p>
                </div>
            </div>
        </div>
    </div>
    <!-- 表格 -->
    <div class="production-content">
        <!-- <v-table data="list">
            <table-cell
                prop="date"
                label="序号"
                width="180"
            ></table-cell>
            <table-cell
                prop="date"
                label="序号1"
                width="180"
            ></table-cell>
        </v-table> -->
        <table class="tabel-panel">
            <thead>
                <tr>
                    <th>序号</th>
                    <th>VIN编码</th>
                    <th>IMEI</th>
                    <th>检测时间</th>
                    <th>检测结果</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-show="lineProductList.length" ng-repeat="item in lineProductList" ng-class="{true: 'background-ng', false: 'background-ok'}[item.result === 2]">
                    <td ng-bind="$index + 1"></td>
                    <td ng-bind="item.vin"></td>
                    <td ng-bind="item.imei"></td>
                    <td ng-bind="item.detectionTime"></td>
                    <td ng-bind="item.result | productResult"></td>
                </tr>
                <tr ng-show="!lineProductList.length">
                    <td colspan="5">
                        <div class="no-data"></div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- table-footer -->
    <div class="production-footer">
        <div class="statistics">
            <span>今日统计 | </span>
            <span>检测总数：</span>
            <span class="color-47bac2">{{lineRecordCountNumberInfo.todayTotal || 0}}辆</span>
            <span class="maglf-30">检测通过：</span>
            <span class="color-47bac2">{{lineRecordCountNumberInfo.todayPass || 0}}辆</span>
            <span class="maglf-30">检测不通过：</span>
            <span class="color-47bac2">{{lineRecordCountNumberInfo.todayFail || 0}}辆</span>
        </div>
    </div>
</div>
