@import 'src/assets/style/vars.scss';
@import 'src/assets/style/mixins.scss';

.production-container {
    @include wh(100%, 100%);
    position: relative;
    padding-top: 315px;
    padding-bottom: 60px;
    background-color: $white;
    .production-header {
        position: absolute;
        top: 0;
        left: 0;
        @include wh(100%, auto);
    }
    .revisionSearch-content {
        position: relative;
        @include wh(100%, 100%);
    }
    .production-footer {
        position: absolute;
        bottom: 0;
        left: 0;
        @include wh(100%, auto);
    }
    .revisionSearch-box {
        text-align: center;
        padding-bottom: 15px;
        .revisionSearch-panel {
            display: inline-block;
            text-align: center;
            .state-main-logo {
                display: inline-block;
                @include wh(96px, 96px);
            }
            .state-main-left,
            .state-main-right,
            .state-main-center {
                display: inline-block;
                vertical-align: middle;
                font-size: 14px;
                text-align: center;
                p.procedure-main-color {
                    font-size: 18px;
                    padding: 8px 0;
                    color: #666666;
                }
            }
            .state-main-left,
            .state-main-right {
                width: 300px;
                text-align: center;
                font-size: 80px;
                font-weight: normal;
                font-stretch: normal;
                color: #ffffff;
                p.okStatus {
                    display: inline-block;
                    padding: 10px 20px;
                    border-radius: 20px;
                    background-color: $global_color;
                }
                p.ngStatus {
                    display: inline-block;
                    padding: 10px 20px;
                    border-radius: 20px;
                    background-color: $global_ng_color;
                }
            }
        }
    }
}
