// common样式
html, body, .app-main {
    width: 100%;
    height: 100%;
    font-family: MicrosoftYaHei;
}

body {
    min-width: 1240px;
    overflow: hidden;
}

body, body * {
    box-sizing: border-box;
}

img {
    display: block;
    width: 100%;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.mr14 {
    margin-right: 14px;
}

.ml5 {
    margin-left: 5px;
}

// 暂无数据
.no-data {
    width: 210px;
    height: 190px;
    background-image: url(../../assets/images/noQueryData.png);
    background-repeat: no-repeat;
    background-position: top center;
    margin-top: 50px;
    margin-left: 40%;
}

.mr20 {
    margin-right: 20px;
}
.ml14 {
    margin-left: 14px;
}

.mb20 {
    margin-bottom: 20px;
}

.text-right {
    text-align: right !important;
}

.text-left {
    text-align: left !important;
}

// 去除ie上面输入框得x及眼睛
::-ms-clear,
::-ms-reveal{
    display: none;
}
