/**
 * 作者：yeshengqiang
 * 时间：2019-03-07
 * 描述：变量
 */
$global_color:                     #52C2C9 !default;
$white:                            #FFFFFF !default;
$baseShadow:                       0 1px 3px rgba(0,0,0,.18) !default;
$header_bg:                        #022540 !default;
$searchBar_bg:                     #EEEEEE !default;
$btnPromise_bg:                    #47bac2 !default;
$btnFail_bg:                       #D6D6D6 !default;
$btnFail_color:                    #5f5f5f !default;
$tips_Bg:                          #f71919 !default;
$global_ok_color:                  rgb(102, 204, 153) !default;
$global_ng_color:                  rgb(255, 102, 102) !default;
