@import 'src/assets/style/vars.scss';
@import 'src/assets/style/mixins.scss';

.historyCheck-container {
    @include wh(100%, 100%);
    position: relative;
    padding-top: 97px;
    padding-bottom: 90px;
    background-color: $white;
    .historyCheck-header {
        position: absolute;
        top: 0;
        left: 0;
        @include wh(100%, auto);
    }
    .historyCheck-body {
        @include wh(100%, 100%);
        overflow: auto;
    }
    .historyCheck-footer {
        border-top: solid 1px #d7d7d7;
        position: absolute;
        bottom: 0;
        left: 0;
        @include wh(100%, auto);
    }
}
