<div>
    <v-table
        data="data"
        >
        <v-table-column
            prop="name"
            label="姓名"
            width="1200"
            align="center"
            ></v-table-column>
        <v-table-column
            prop="age"
            label="年龄"
            width="500"
            ></v-table-column>
        <v-table-column
            prop="province"
            label="省份"
            width="500"
            ></v-table-column>
        <v-table-column
            prop="city"
            label="城市"
            width="500"
            ></v-table-column>
        <v-table-column
            prop="zip"
            label="zip"
            ></v-table-column>
    </v-table>

    <v-table
        data="data"
        >
        <v-table-column
            prop="name"
            label="姓名"
            width="1200"
            align="center"
            ></v-table-column>
        <v-table-column
            prop="age"
            label="年龄"
            width="500"
            ></v-table-column>
        <v-table-column
            prop="province"
            label="省份"
            width="500"
            ></v-table-column>
        <v-table-column
            prop="city"
            label="城市"
            width="500"
            ></v-table-column>
        <v-table-column
            prop="zip"
            label="zip"
            ></v-table-column>
    </v-table>
</div>
