<div style="width: 800px; margin: 30px auto;">
    <v-table
        data="data"
        border="true"
        stripe="true"
        height="250"
        >
        <v-table-column
            prop="name"
            label="姓名"
            align="center"
            ></v-table-column>
        <v-table-column
            prop="age"
            label="年龄"
            align="center"
            ></v-table-column>
        <v-table-column
            prop="province"
            label="省份"
            align="center"
            ></v-table-column>
        <v-table-column
            prop="city"
            label="城市"
            align="center"
            ></v-table-column>
        <v-table-column
            prop="zip"
            label="zip"
            align="center"
            ></v-table-column>
    </v-table>
</div>
