<!--
  * 作者：yeshengqiang
  * 时间：2018-04-28
  * 描述：vq检测
-->
<div class="checkVq-container">
    <div class="checkVq-header">
        <!-- searchBar -->
        <div class="search-bar" ng-enter="search()">
            <div class="form-group">
                <label>VIN编码</label>
                <input type="text" class="form-control" v-focus="focus" id="checkVqId" value="" name="title" autocomplete="off" placeholder="请输入VIN编码" />
            </div>
            <button class="btn btn-primary" v-busy="loading" loading-text="搜索中" ng-click="search()">搜索</button>
            <button class="btn btn-primary float-right ml14" ng-show="userType === 2" ng-click="go()">返回到<span class="btn_active_color">返修</span>界面</button>
            <button class="btn btn-default float-right" ng-click="historyCheck()">检测历史</button>
        </div>
    </div>
    <!-- 主要内容 -->
    <div class="checkVq-panel">
        <!-- vin_error_tips -->
        <div class="error-state-info">
            <span class="info-label" ng-show="vqCheckInfo.vin">当前车辆：</span>
            {{vqCheckInfo.vin}}
            <span class="error-info">{{vqCheckInfo.VIN_ERROR}}</span>
            <img class="scanned-info" ng-show="vqCheckInfo.scanned === 2" src="../../../assets/images/info.png" alt="info" />
        </div>
        <div class="car-box">
            <ul class="checkVq-ul-panel">
                <li class="checkVq-li-panel-item">
                    <div class="gps-box">
                        <div class="gps-box-item">
                            <span class="checkVq-text">LTE天线<span>主集</span>状态</span>
                            <span class="gps-status" ng-class="{'gps-on': vqCheckInfo.lteMainStatus === 2, 'gps-off': vqCheckInfo.lteMainStatus === 1 || vqCheckInfo.lteMainStatus === 3}"></span>
                        </div>
                        <div class="gps-box-item">
                            <span class="checkVq-text">LTE天线<span>分集</span>状态</span>
                            <span class="gps-status" ng-class="{'gps-on': vqCheckInfo.lteDiversityStatus === 2, 'gps-off': vqCheckInfo.lteDiversityStatus === 1 || vqCheckInfo.lteDiversityStatus === 3}"></span>
                        </div>
                        <div class="gps-box-item">
                                <span class="checkVq-text">GPS天线状态</span>
                            <span class="gps-status" ng-class="{'gps-on': vqCheckInfo.gpsAntennaStatus === 3, 'gps-off': vqCheckInfo.gpsAntennaStatus === 1 || vqCheckInfo.gpsAntennaStatus === 2}"></span>
                        </div>
                    </div>
                </li>
                <li class="checkVq-li-panel-item">
                    <div class="car-space-panel">
                        <img height="400" alt="car" src="{{_src}}" />
                    </div>
                    <div class="last-login-time">车辆第一次登录时间：{{vqCheckInfo.firstLoginTime}}</div>
                </li>
                <li class="checkVq-li-panel-item">
                    <div class="prev-btn">
                        <button class="btn btn-ok" ng-show="isAbleReport" ng-click="checkVq(1)">该车检测<span class="btn_active_color">完成</span></button>
                    </div>
                    <div class="next-btn">
                        <button class="btn btn-ng" ng-show="isAbleReport" ng-click="checkVq(2)">NG</button>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="checkVq-footer">
        <div class="statistics">
            <span>今日统计 | </span>
            <span>检测总数：</span>
            <span class="color-47bac2">{{lineRecordCountNumberInfo.todayTotal || 0}}辆</span>
            <span class="maglf-30">检测通过：</span>
            <span class="color-47bac2">{{lineRecordCountNumberInfo.todayPass || 0}}辆</span>
            <span class="maglf-30">检测不通过：</span>
            <span class="color-47bac2">{{lineRecordCountNumberInfo.todayFail || 0}}辆</span>
        </div>
    </div>
</div>
