<div class="el-table" style="width: 100%;">
    <div class="hidden-columns">
        <div ng-repeat="item in childList track by $index"></div>
    </div>
    <div class="el-table__header-wrapper">
        <table width="{{tableWidth}}" cellspacing="0" cellpadding="0" border="0" class="el-table__header">
            <colgroup>
                <col ng-repeat="item in childList track by $index" width="{{ item.width }}">
                <col name="gutter" width="0">
            </colgroup>
            <thead class="has-gutter">
                <tr>
                    <th colspan="1" rowspan="1" class="is-leaf" ng-repeat="item in childList track by $index">
                        <div class="cell">{{ item.label }}</div>
                    </th>
                    <th class="gutter" style="width: 0px; display: none;"></th>
                </tr>
            </thead>
        </table>
    </div>
    <div class="el-table__body-wrapper is-scrolling-none">
        <table width="{{tableWidth}}" cellspacing="0" cellpadding="0" border="0" class="el-table__body">
            <colgroup>
                <col ng-repeat="item in childList track by $index" width="{{ item.width }}">
            </colgroup>
            <tbody>
                <tr class="el-table__row" ng-repeat="item in list track by $index" ng-transclude></tr>
            </tbody>
        </table>
    </div>
    <div class="el-table__column-resize-proxy" style="display: none;"></div>
</div>
