
// tabel
@import 'src/assets/style/vars';
@import 'src/assets/style/mixins';

.el-table {
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    flex: 1;
    width: 100%;
    max-width: 100%;
    background-color: #fff;
    font-size: 14px;
    color: #606266;
    &.el-table--fit {
        border-right: 0;
        border-bottom: 0;
    }
    &:before {
        left: 0;
        bottom: 0;
        width: 100%;
        height: 1px;
        content: "";
        position: absolute;
        background-color: #ebeef5;
    }
    &.el-table--border::after,
    &.el-table--group::after {
        content: "";
        position: absolute;
        background-color: #ebeef5;
    }
    .hidden-columns {
        visibility: hidden;
        position: absolute;
        z-index: -1;
    }
    .el-table__footer-wrapper,
    .el-table__header-wrapper {
        overflow: hidden;
    }
    .el-table__body-wrapper,
    .el-table__footer-wrapper,
    .el-table__header-wrapper {
        width: 100%;
    }
    .el-table__body,
    .el-table__footer,
    .el-table__header {
        table-layout: fixed;
        border-collapse: separate;
    }
    thead {
        color: #909399;
        font-weight: 500;
    }
    tr {
        background-color: #fff;
    }
    td,
    th.is-leaf {
        border-bottom: 1px solid #ebeef5;
    }
    td,
    th {
        &.is-center {
            text-align: center;
        }
        &.is-left {
            text-align: center;
        }
        &.is-right {
            text-align: right;
        }
    }
    .cell {
        box-sizing: border-box;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: normal;
        word-break: break-all;
        line-height: 23px;
        padding-left: 10px;
        padding-right: 10px;
    }
    th > .cell {
        position: relative;
        word-wrap: normal;
        vertical-align: middle;
        width: 100%;
    }
    th > .cell,
    th div {
        display: inline-block;
        box-sizing: border-box;
        text-overflow: ellipsis;
    }
    .el-table__body-wrapper {
        overflow: hidden;
        position: relative;
    }
    &.el-table--enable-row-hover tr:hover > td {
        background-color: #f5f7fa;
    }
    &.el-table--enable-row-transition .el-table__body td {
        transition: background-color .25s ease;
    }
    &.el-table--striped .el-table__body tr.el-table__row--striped td {
        background-color: #fafafa;
    }
    td,th {
        padding: 12px 0;
        min-width: 0;
        box-sizing: border-box;
        text-overflow: ellipsis;
        vertical-align: middle;
        position: relative;
        text-align: left;
    }
    &.el-table__column-resize-proxy {
        position: absolute;
        left: 200px;
        top: 0;
        bottom: 0;
        width: 0;
        border-left: 1px solid #ebeef5;
        z-index: 10;
    }
    &.el-table--scrollable-x
    .el-table__body-wrapper {
        overflow-x: auto;
    }
    .table-noData {
        text-align: center;
    }
}
