<table width="{{tableWidth}}" cellspacing="0" cellpadding="0" border="0" class="el-table__body">
    <colgroup>
        <col ng-repeat="item in colList track by $index" name="{{ item.className }}" width="{{ item.width }}">
    </colgroup>
    <tbody>
        <tr class="el-table__row"
            ng-class="{'el-table__row--striped': stripe && ($index % 2 !== 0)}"
            ng-repeat="item in rowList track by $index">
            <td rowspan="1" colspan="1"
                class="{{ im.className }}"
                ng-class="{{ classes(im) }}"
                ng-repeat="im in colList track by $index">
                <div class="cell">{{item[im.prop]}}</div>
            </td>
        </tr>
        <tr class="el-table__row" ng-if="!rowList.length">
            <td rowspan="1" colspan="{{ colList.length }}">
                <div class="table-noData">暂无数据</div>
            </td>
        </tr>
    </tbody>
</table>
