<div
    class="el-table el-table--enable-row-hover el-table--enable-row-transition"
    ng-class="{
        'el-table--scrollable-x': is_scroll_x,
        'el-table--scrollable-y': is_scroll_y,
        'el-table--striped': stripe,
        'el-table--border': border
        }"
    ng-style="{height: height + 'px'}"
    >
    <div class="hidden-columns" ng-transclude></div>
    <div class="el-table__header-wrapper">
        <table-header
            col-list="colList"
            gutter="is_scroll_y"
            table-width="tableWidth"
            ></table-header>
    </div>
    <div class="el-table__body-wrapper is-scrolling-{{ row_scrolling_placment }}" ng-style="{height: bodyHeight + 'px'}">
        <table-body
            stripe="stripe"
            row-list="list"
            col-list="colList"
            table-width="tableBodyWidth"
            ></table-body>
    </div>
    <div class="el-table__fixed" ng-style="{height: elFixedHeight + 'px', width: fixedLeftWidth + 'px'}">
        <div class="el-table__fixed-header-wrapper">
            <table-header
                fixed="left"
                col-list="colList"
                gutter="is_scroll_y"
                table-width="tableWidth"
                ></table-header>
        </div>
        <div class="el-table__fixed-body-wrapper" ng-if="list.length" ng-style="{height: bodyFixedHeight + 'px'}">
            <table-body
                fixed="left"
                stripe="stripe"
                row-list="list"
                col-list="colList"
                table-width="tableBodyWidth"
                ></table-body>
        </div>
    </div>
    <div class="el-table__fixed-right" ng-style="{height: elFixedHeight + 'px', width: fixedRightWidth + 'px'}">
        <div class="el-table__fixed-header-wrapper">
            <table-header
                fixed="right"
                col-list="colList"
                gutter="is_scroll_y"
                table-width="tableWidth"
                ></table-header>
        </div>
        <div class="el-table__fixed-body-wrapper" ng-if="list.length" ng-style="{height: bodyFixedHeight + 'px'}">
            <table-body
                fixed="right"
                stripe="stripe"
                row-list="list"
                col-list="colList"
                table-width="tableBodyWidth"
                ></table-body>
        </div>
    </div>
</div>
