<div class="checkNg-container">
    <div class="checkNg-header">
        <!-- searchBar -->
        <div class="search-bar">
            <div class="checkNg-info">
                <span class="info-label" ng-show="vqCheckInfo.vin">当前车辆：</span>
                {{vqCheckInfo.vin}}
                <span class="error-info">{{vqCheckInfo.VIN_ERROR}}</span>
                <img class="scanned-info" ng-show="vqCheckInfo.scanned === 2" src="../../../../assets/images/info.png" alt="info" />
            </div>
            <button class="btn btn-primary float-right" ng-click="checkOk()">该车检测<span class="btn_active_color">完成</span></button>
            <button class="btn btn-default mr14 float-right" go-back>返回</button>
        </div>
    </div>
    <!-- 内容部分 -->
    <div class="checkNg-body">
        <div class="checkNg-body__left">
            <h3 class="checkNg-body__title"><span>天线类</span>NG项</h3>
            <div class="checkNg-body__main mb70">
                <v-switch ng-model="vqCheckInfo.lteMainStatus" active="2" inactive="1" label="'LTE天线主集状态'"></v-switch>
                <v-switch ng-model="vqCheckInfo.lteDiversityStatus" active="2" inactive="1" label="'LTE天线分集状态'"></v-switch>
                <v-switch ng-model="vqCheckInfo.gpsAntennaStatus" active="2" inactive="1" label="'GPS天线状态'"></v-switch>
            </div>
            <h3 class="checkNg-body__title"><span>车门类</span>NG项</h3>
            <div class="checkNg-body__main wh">
                <v-switch ng-model="vqCheckInfo.leftFrontDoorStatus" active="2" inactive="1" label="'左前门'"></v-switch>
                <v-switch ng-model="vqCheckInfo.leftBackDoorStatus" active="2" inactive="1" label="'左后门'"></v-switch>
                <v-switch ng-model="vqCheckInfo.trunkStatus" active="2" inactive="1" label="'后备箱'"></v-switch>
                <v-switch ng-model="vqCheckInfo.rightFrontDoorStatus" active="2" inactive="1" label="'右前门'"></v-switch>
                <v-switch ng-model="vqCheckInfo.rightBackDoorStatus" active="2" inactive="1" label="'右后门'"></v-switch>
            </div>
        </div>
        <div class="checkNg-body__right">
            <div class="car-space-panel">
                <img height="400" alt="car" src="{{_src}}" />
            </div>
        </div>
    </div>
    <div class="checkNg-footer">
        <div class="statistics">
            <span>今日统计 | </span>
            <span>检测总数：</span>
            <span class="color-47bac2">{{lineRecordCountNumberInfo.todayTotal || 0}}辆</span>
            <span class="maglf-30">检测通过：</span>
            <span class="color-47bac2">{{lineRecordCountNumberInfo.todayPass || 0}}辆</span>
            <span class="maglf-30">检测不通过：</span>
            <span class="color-47bac2">{{lineRecordCountNumberInfo.todayFail || 0}}辆</span>
        </div>
    </div>
</div>
