
@import 'src/assets/style/vars.scss';
@import 'src/assets/style/mixins.scss';

.checkNg-container {
    @include wh(100%, 100%);
    position: relative;
    overflow: hidden;
    padding-top: 105px;
    padding-bottom: 60px;
    background-color: #f3f4f5;
    .checkNg-header {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        .checkNg-info {
            display: inline-block;
            padding: 10px 0;
            font-size: 22px;
            color: #333333;
            font-weight: normal;
            font-stretch: normal;
            vertical-align: middle;
            .scanned-info {
                display: inline-block;
                width: 150px;
            }
            .info-label {
                color: #16b793;
            }
            .error-info {
                color: #f04833;
            }
        }
    }
    .checkNg-body {
        @include wh(100%, 100%);
        @include clearfix;
        padding: 40px 0;
        border-top: solid 1px #d7d7d7;
        background-color: $white;
        .checkNg-body__left,
        .checkNg-body__right {
            float: left;
        }
        .checkNg-body__left {
            width: 60%;
            height: 100%;
            position: relative;
            padding: 0 80px;
            &::after {
                content: '';
                position: absolute;
                top: 0;
                left: 100%;
                width: 1px;
                height: 100%;
                background-color: #cccccc;
            }
            .checkNg-body__title {
                font-size: 22px;
                font-weight: normal;
                font-stretch: normal;
                color: #333333;
                padding-bottom: 24px;
                span {
                    color: #f6630a;
                }
            }
            .checkNg-body__main {
                text-align: center;
                &.mb70 {
                    margin-bottom: 70px;
                }
                &.wh {
                    width: 80%;
                }
            }
        }
        .checkNg-body__right {
            width: 40%;
            .car-space-panel {
                position: relative;
                margin-top: 90px;
                text-align: center;
                img {
                    width: auto;
                    display: inline-block;
                }
            }
        }
    }
    .checkNg-footer {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
    }
}
