@import 'src/assets/style/vars.scss';
@import 'src/assets/style/mixins.scss';

.main-container {
    @include wh(100%, 100%);
    position: relative;
    .header-container {
        position: absolute;
        top: 0;
        left: 0;
        @include wh(100%, auto);
        @include clearfix;
        background-color: $header_bg;
        text-align: center;
        padding: 5px 40px;
        .time-panel {
            text-align: left;
            font-size: 18px;
            height: 50px;
            line-height: 50px;
            float: left;
            color: $header_font_color;
        }
        .header-logo {
            display: inline-block;
            height: 50px;
            line-height: 50px;
            font-size: 24px;
            color: $header_font_color;
            .logo-img {
                vertical-align: middle;
                display: inline-block;
                @include wh(85px, 30px);
                margin-right: 15px;
            }
        }
        .header-loginOut {
            color: $header_font_color;
            float: right;
            height: 50px;
            line-height: 50px;
            .loginInfo-username {
                font-size: 14px;
            }
            .toolTips {
                position: relative;
                display: inline-block;
                border-bottom: 1px dotted black;
                cursor: pointer;
                .logout {
                    display: inline-block;
                    vertical-align: middle;
                    width: 18px;
                    margin-top: -4px;
                    margin-left: 14px;
                }
            }
        }
    }
    .main-content {
        padding-top: 60px;
        @include wh(100%, 100%);
    }
}
